<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{% static "css/styles.css"%}'/>
    <title>Главная</title>
    <link href="{% static 'bootstrap-5.1.3/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Бухловитость</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Тара под бухло
                  <span class="visually-hidden">(бутылки)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Этикетки</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Картинки</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Об алкокомпании</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </nav>
    <h1>Сайт с картинками про самогон</h1>
    <div class="container">
      <p style="text-align: center;">
      <img src='{% static "image/botl.jpg" %}' width="200px" height="150px"/>
      </p>
      <p>{{ message }}</p>
  </div>
  <div class='container'>
    <div class="row">
      <div class="col-sm">
        <div class="card mb-3">
        <h3 class="card-header">Взаперти</h3>
        <div class="card-body">
          <img src='{% static "image/botl.jpg" %}'width="200px" height="150px"/>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        </svg>
        <div class="card-body">
          <h1>Цена 150 руб</h1>
        </div>
        <ul class="list-group list-group-flush">
        </ul>
        <div class="card-body">
          <h1> Прекрасная возможность сделат оригинальны подарок близкому человеку. Сво продукты Вы моете налить в нашу замечательну бутылочку</h1>
        </div>
    </div>
  </div>
    
    <div class="col-sm">
      <div class="card mb-3">
      <h3 class="card-header">Улет</h3>
      <div class="card-body">
        <img src='{% static "image/fly.jpg" %}'width="200px" height="150px"/>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
      </svg>
      <div class="card-body">
        <h1>Цена 150 руб</h1>
      </div>
      <ul class="list-group list-group-flush">
      </ul>
      <div class="card-body">
        <h1> Прекрасная возможность сделат оригинальны подарок близкому человеку. Сво продукты Вы моете налить в нашу замечательну бутылочку</h1>
    </div>

      <div class="col-sm">
        <div class="card mb-3"></div>
        <h3 class="card-header">На троих</h3>
        <div class="card-body">
          <img src='{% static "image/zmei.jpg" %}'width="200px" height="150px"/>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        </svg>
        <div class="card-body">
          <h1>Цена 150 руб</h1>
        </div>
        <ul class="list-group list-group-flush">
        </ul>
        <div class="card-body">
          <h1> Прекрасная возможность сделат оригинальны подарок близкому человеку. Сво продукты Вы моете налить в нашу замечательну бутылочку</h1> 
      </div>
    </div>
  </div>
    <h2>Example1</h2>
    <h3> Заголовок </h3>
    <p class="class1">class1</p>
</body>

</html>